# Django secret key
DJANGO_SECRET_KEY=your-secret-key

# Redis connection for caching and background queue
REDIS_URI=redis://redis:6379/0

# Frontend allowed origin for CSRF and CORS
FRONTEND_BASE_URL=http://localhost:3000

# SMTP settings for registration / password recovery emails
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
