DJANGO_SECRET_KEY=Django secret key
REDIS_URL=Redis connection URL (used for cache and task queues)
FRONTEND_BASE_URL=allowed frontend URL for CSRF/CORS
BREVO_API_KEY=API provider for transactional email sending

MAXMIND_LICENSE_KEY=For GeoCityLite-2 download during docker build
MAXMIND_ACCOUNT_ID=Also for GeoCityLite-2 download

CSRF_TRUSTED_ORIGINS=A comma separated string of domains, e.g 'example.com,dummyexample.com'
DEFAULT_FROM_EMAIL=Email address that displays to receivers